.container{
    width: 95%;
    margin: 3% auto 0 auto;
}
.tittle h1{
    color: aliceblue;
    font-weight: 500;
}
.movie-card img{
    width: 200px;
    height: 220px;
    border-radius: 10px;
}
.movie-card{
    border: 1px solid #ccc;
    width: 200px;
    height: 360px;
    padding: 0;
    margin: 5% 0;
    background-color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
  transition: transform 0.2s ease-in-out;
}
.movie-card:hover {
    transform: scale(1.08); /* Increase size on hover */
  }
.movie-card h2{
    font-size: 18px;
    color: #000;
    font-weight: 600;
}
    .movie-card h3{
        font-size: 15px;
        color: #000;
        font-weight: 400;
}
.infocard{
    padding: 3px 10px;
}
.bold{
    font-weight: 600;
    padding-right: 3px;
}
.addicon{
    display: flex;

}