.MoviePage{
    height: 300vh;
    background: #070F2B;
}
.cardgroup{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}
.card{
    margin: 1rem;
    background-color: #dbe1e6;
}
.card img{
    height: 250px;
}
.release_date h1{
    font-size: 24px;
}
.release_date h2{
    font-size: 15px;
    color: #070F2B;
}