/* Login.css */
.login-bg {
    background: url('https://img.freepik.com/free-photo/3d-glasses-with-popcorns-clapperboard-concrete-backdrop_23-2148188183.jpg?t=st=1713895137~exp=1713898737~hmac=124221fb2bc2dde2c43b803b6320cd5387fae0d125232dd0a83af95f26b540b1&w=1060') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.402); /* Add background color with opacity */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #000;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: rgba(27, 26, 85, 1);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s; /* Add transition for smooth hover effect */
  }
  
  .btn-primary:hover {
    background-color: rgba(27, 26, 85, 0.9);
  }
  
  .signup-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link p {
    margin: 0;
  }
  
  .signup-link a {
    color: #1b1a55;
    text-decoration: underline;
    transition: color 0.2s;
  }
  
  .signup-link a:hover {
    color: #000;
  }
  